
{% extends "base.html" %}
{% load static %}
{% block title %}
	ورود |‌ سیستم وفاداری مشتریان برتر دیجیتال
{% endblock %}



	{% block content %}	

	<!-- <style>
        body{
            height: 100vh;
        } 
        .container{
            height: 100%;
        }
    </style> -->

	{% include 'header.html' %}


				


	
	<link rel="stylesheet" type="text/css" href="{%static 'css/vafadar/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vafadar/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vafadar/vendor/css-hamburgers/hamburgers.min.css' %}">



	<main  >


			<div class="container text-center"> 
				{% if request_user.is_staff and not request_user.is_superuser %}		
				<div class="row pt-4 mt-4">
					<div class="col-12">
						<section class="box-simple my-article p-3 mb-4">
							<!--admin controls:-->
							<div class="controls d-flex flex-wrap align-content-center justify-content-around align-items-center">
								{% include 'admin_buttons.html'%}
		
							</div>
		
																		
		
						</section>
					</div>
		
				</div>
				{% elif request_user.is_superuser %}
			
					<div class="row pt-4 mt-4">
						<div class="col-12">
							<section class="box-simple my-article p-3 mb-4">
								<!--admin controls:-->
								<div class="controls d-flex flex-wrap align-content-center justify-content-around align-items-center">
									{% include 'super_user_buttons.html'%}
								</div>
					
																			
					
							</section>
						</div>
					
					</div>
				
				{% endif %}

					<div class="container d-flex align-items-center justify-content-center pt-4" >
							<div class="wrap-login100 mb-4 blog-article login-form mw-100" style="text-align:right; direction: ltr;">
								<form class="login100-form validate-form" method="post"  action="{% url 'login' %}">
									{% csrf_token %}
									<span class="login100-form-title mb-5 p-t-10 p-b-10">
									 	ورود
									</span>
					
									<div  {% if form.username.errors %} class="if-error" {% else %} class="wrap-input100 validate-input" {% endif%}  data-validate = "Enter username">
										{{ form.username }}
										{% for error in form.username.errors %}
										<span class="error">{{ error }}</span>
										{% endfor %}
										<span class="focus-input100-login" placeholder=": موبایل"></span>
									</div>
					
					
									<div {% if form.password.errors %} class="if-error" {% else %} class="wrap-input100 validate-input" {% endif%}  data-validate="Enter password">
										<span class="btn-show-pass">
											<i class="zmdi zmdi-eye"></i>
										</span>
										{{ form.password }}
										{% for error in form.password.errors %}
											<span class="error">{{ error }}</span>
											{% endfor %}
										<span class="focus-input100-login"   placeholder=": رمز"></span>
									</div>
					
			
					
									<div class="container-login100-form-btn">
										<div class="wrap-login100-form-btn">
											<div class="login100-form-bgbtn"></div>
											<button type="submit" value="Submit" class="login100-form-btn btn-blue">
												تایید
											</button>
					
										</div>
									</div>
			
									<div class="container-login100-form-btn mt-2">
										<div class="wrap-login100-form-btn">
											<div class="login100-form-bgbtn"></div>
											<a href="/register/"  class="login100-form-btn btn-green">
												ثبت نام
											</a>
					
										</div>
									</div>
			
					
									{% if messages %}
									<ul class="messages mt-4">
										{% for message in messages %}
									
										<li {% if message.tags %} class="alert alert-{% if message.tags == 'error' %}danger {% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</li>
										{% endfor %}
									</ul>
										{% if  verify_link %}
										<div class="text-center p-t-10">
											<span class="txt1">
											</span>
						
											<a class="txt2" href="{{verify_link}}">
												تایید شماره
											</a>
										</div>
										{% endif %}
						
									{% endif %}
					
						
								</form>
							</div>
		
					</div>
			</div>
		
		
	
		<div id="dropDownSelect1"></div>
		
	</main>

	<div class="container" style="line-height: 2rem;">
	    <style>
        .list-group-numbered>li::before{
            font-size: larger;
            color: red;
        }
        ol li{
            margin-bottom:10px;
        }
        </style>
        <div class="row">
    		<div class="col-12">
    			<section class="box-simple my-article p-3 mb-4">
    				<h2 class="mb-3">روشهای مهر خوردن کارت وفاداری آنلاین:</h2>
				<ol class="list-group list-group-numbered">
				<li><strong>خرید از برتر دیجیتال (۱ مهر): </strong>برای هر خرید بالای ۵۰۰٫۰۰۰ تومان کارتتون مهر میخوره.</li>
				<li><strong>عکس (۱ مهر) و فیلم (۲ مهر) از مشتری و محصول: </strong>هنگام خرید حضوری به درخواست خودتون یک عکس یا یک فیلم کوتاه (زیر یک دقیقه) از شما گرفته میشه. برای خریدهای آنلاین هم تا دو هفته پس از خرید وقت دارید یه عکس یا فیلم از خودتون به همراه بسته و محصول خریداری شده بگیرید و برامون از طریق چت آنلاین پشتیبانی سایت (یا هر روش دیگه ای) بفرستید. فقط حتما اسم و کد ملیتون رو هم بنویسید.</li>
				<li><strong>فالو در فضای مجازی (واتس اپ و اینستاگرام) (۱ مهر): </strong>پیج برتر دیجیتال رو در واتس اپ و اینستاگرام فالو کنید و اسم و کد ملیتون رو از طریق چت آنلاین پشتیبانی سایت بفرستید تا کارتتون مهر بخوره. (یک بار)</li>
				<li><strong>ثبت نظر مفید برای محصول خریداری شده در سایت (۱ مهر): </strong>بعد از اینکه از محصول خریداری شده استفاده کردید نظر واقعی خودتون رو در قسمت کامنتها در صفحه محصول خریداری شده در سایت برتر دیجیتال ثبت کنید. سعی کنید نظری که ثبت میکنید برای دیگران که قصد خرید این محصول رو دارند مفید باشه. سپس یک پیام از طریق چت آنلاین پشتیبانی سایت بفرستید و بگید که کامنت نوشتید و اسم و کد ملیتون رو هم بنویسید تا کارتتون مهر بخوره. دقت کنید که فقط تا دو هفته بعد از خرید فرصت دارید.</li>
				<li><strong>انتشار یک استوری اینستاگرام و منشن کردن پیج برتر دیجیتال (۲ مهر): </strong>یه استوری در اینستاگرام بزارید و پیج ما رو منشن بفرمایید. روی استوریتون نظر صادقانه خودتون رو در مورد ما بنویسید؛ در استوری هم از محصولی که خریدین عکس بزارید یا یکی از ریلزهای ما رو به اشتراک بگذارید. پس از گذشت ۲۰ ساعت یه اسکرین شات از استوریتون بردارید و از طریق چت آنلاین پشتیبانی سایت (یا هر روش دیگه ای) به ما بفرستید تا کارتتون ۲ تا مهر بخوره. (یک بار)</li>
				<li><strong>معرفی مشتری جدید (۳ مهر): </strong>لینک دعوت مخصوص خودتون رو از داخل پنل سیستم وفاداری برتر دیجیتال بردارید و به آشنایانتون بفرستید. وقتی دوستانتون از طریق این لینک ثبت نام کنن، شما به عنوان معرفشان در سیستم ثبت میشید و وقتی هر کدوم از اونها اولین خریدشون رو انجام بدن، به طور خودکار کارت وفاداری شما ۳ تا مهر میخوره. روش دستی هم اینه که هر وقت مشتری جدید بهمون معرفی کردید، تا دو هفته بعد از خریدشون فرصت دارید تا پیام بدید یا تلفنی اعلام کنید تا ما به کارتتون ۳ تا مهر بزنیم.</li>
				<li><strong>ثبت نظر در گوگل مپ (۱ مهر): </strong>در گوگل مپ ما رو سرچ کنید و یه نظر (Review) اونجا برامون ثبت کنید. یه اسکرین شات ازش بگیرید و به همراه کد ملیتون از طریق چت آنلاین پشتیبانی سایت (یا هر روش دیگه ای) به ما بفرستید تا کارتتون مهر بخوره. (یک بار)</li>
				</ol>
    			</section>
    		</div>
		</div>
	</div>
	{% include 'footer.html' %}
		<script src="{% static 'css/vafadar/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		
			<script src="{% static 'js/vafadar/main.js' %}"></script>
	{% endblock content %}





	















