
{% if festival_is_active or festival_is_not_active_and_was_not_done %}
<a href="/festival_users/" class="btn btn-success form-control">نمایش رتبه بندی کاربران در {{ festival.name }}</a>
{% endif %}
<a class="btn btn-orange"  href="/profile/{{ request_user.referral_code }}">پروفایل</a>
<a href="/last_user_table/{{request_user.id_card_num}}/" class="btn btn-dark">آخرین کارت وفاداری</a>
{% if user_table_count > 1 %}
    <a class="btn btn-dark" href="/all_user_tables/{{ user.id_card_num }}/" >نمایش همه کارت های وفاداری</a>
{% endif %}
<a style="color: #fff;" class="btn btn-dark"  id="affliate-link-btn" data-bs-toggle="tooltip" title="کپی شد!" data-bs-trigger="manual" data-bs-placement="top" data-referral-code="cc.bartardigital.com/register?ref={{ user.referral_code }}"> لینک دعوت شما</a>
<a href="/user_invites/{{request_user.id_card_num}}/" class="btn btn-dark">نمایش کاربران معرفی شده</a>
<a class="btn btn-red"  href="/logout/">خروج</a>
